* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.background {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
    object-fit: cover;
}

.ComClubLogo {
    position: absolute;
    top: 140px;
    right: 100px;
    width: 300px; 
    height: auto;
}

.ComClubLogo:hover {
    filter: drop-shadow(0px 0px 10px #9B4444) 
}
.lspu {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 55px; 
    height: auto;
}

.ccs {
    position: absolute;
    top: 10px;
    left: 90px;
    width: 55px; 
    height: auto;
}

nav {
    margin: 10px auto 0;
    position: relative;
    width: 575px;
    height: 50px;
    background-color: #952323;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
    background-color: #EAD196; 
}

a {
    width: 115px;
}

#nav-animation {
    width: 100px;
    left: 0;
}

body {
    font-size: 12px;
}

.text1 {
    margin-top: 90px;
    padding: 40px;
    text-align: left;
}

.text1_1:hover{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
h1 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
    font-size: 17px;
}


